.root {
    display: flex;
    background-color: white;
    align-items: center;
    height: 30px;
    border-radius: 10px;
    position: relative;
}

.button_status {
    width: 20px;
    height: 20px;
    margin-left:  20px;
    cursor: pointer;
    border-radius: 10px;
    background-color: white;
    border: 2px solid cornflowerblue;
    color: white;
    font-size: 16px;
    line-height: 16px;
    padding: 0;
}

.button_status:disabled {
    cursor: default;
}
.success {
    background-color: cornflowerblue;
    opacity: 70%;
}

.body {
    margin-left: 10px;
    width: 100%;
    cursor: pointer;

}
.inactive {
    text-decoration: line-through;
    opacity: 50%;
}
.button_remove {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
    opacity: 70%;
}
.button_remove:hover {
    opacity: 100%;
}