body {
  background-color: blanchedalmond;
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blanchedalmond;
  max-height: 1000px;
  margin-top: 100px;

}
.wrapper_app {
  display: flex;
  max-width: 1200px;
  background-color: azure;
}
.todos_wrapper {
  background-color: azure;
  width: 500px;
  min-height: 500px;
}

